<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lung Cancer Detection</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="/static/js/script.js"></script>

</head>
<body>
    <div class="container">
        <h1>Lung Cancer Detection</h1>
        <form action="/" method="POST" enctype="multipart/form-data">
            <input type="file" name="file" accept="image/*" required>
            <button type="submit">Upload and Analyze</button>
        </form>
        {% if result %}
            <div class="result">
                <h2>Result: {{ result }}</h2>
                <img src="{{ image_path }}" alt="Uploaded Image">
            </div>
        {% endif %}
    </div>
</body>
</html>

